In [ ]:
import pandas as pd
import numpy as np

In [2]:
#import icd10 data
icd10_1 = pd.read_csv("icd10-1") #first half
icd10_2 = pd.read_csv("icd10-2") #second half

C:\Users\ynot3\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ynot3\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Combine datasets into one and reset index 
icd10 = icd10_1.append(icd10_2).reset_index()

In [4]:
#drop any na values in all cause mortality (turns out there are none)
icd10 = icd10[pd.notnull(icd10['Deaths1'])]

In [5]:
#drop ages by death in favor of using all cause mortality
icd10.drop(icd10.loc[:, 'Deaths2':'Deaths26'], axis=1, inplace = True)

In [6]:
#drop additional mortality formatting for location/age
icd10.drop(['Admin1','SubDiv','Frmat','IM_Frmat','IM_Deaths1','IM_Deaths2','IM_Deaths3','IM_Deaths4'], axis = 1, inplace = True)

In [15]:
icd10.head(200000)

         index  Country  Year List Cause  Sex  Deaths1
0            0     1400  2001  101  1000    1      332
1            1     1400  2001  101  1000    2      222
2            2     1400  2001  101  1001    1       24
3            3     1400  2001  101  1001    2       14
4            4     1400  2001  101  1002    1        0
5            5     1400  2001  101  1002    2        0
6            6     1400  2001  101  1003    1        0
7            7     1400  2001  101  1003    2        0
8            8     1400  2001  101  1004    1        0
9            9     1400  2001  101  1004    2        0
10          10     1400  2001  101  1005    1        1
11          11     1400  2001  101  1005    2        1
12          12     1400  2001  101  1006    1        0
13          13     1400  2001  101  1006    2        0
14          14     1400  2001  101  1007    1        0
15          15     1400  2001  101  1007    2        0
16          16     1400  2001  101  1008    1        0
17          17     1400  2001  101  1008    2        0
18          18     1400  2001  101  1009    1        0
19          19     1400  2001  101  1009    2        0
20          20     1400  2001  101  1010    1        0
21          21     1400  2001  101  1010    2        0
22          22     1400  2001  101  1011    1        0
23          23     1400  2001  101  1011    2        0
24          24     1400  2001  101  1012    1       11
25          25     1400  2001  101  1012    2        7
26          26     1400  2001  101  1013    1        0
27          27     1400  2001  101  1013    2        0
28          28     1400  2001  101  1014    1        0
29          29     1400  2001  101  1014    2        0
...        ...      ...   ...  ...   ...  ...      ...
199970  199970     2070  1998  104  G419    1      106
199971  199971     2070  1998  104  G419    2       61
199972  199972     2070  1998  104  G439    2        1
199973  199973     2070  1998  104  G452    1        7
199974  199974     2070  1998  104  G452    2        3
199975  199975     2070  1998  104  G458    1       11
199976  199976     2070  1998  104  G458    2       18
199977  199977     2070  1998  104  G459    1       56
199978  199978     2070  1998  104  G459    2       60
199979  199979     2070  1998  104  G473    1        3
199980  199980     2070  1998  104  G473    2        1
199981  199981     2070  1998  104  G474    2        2
199982  199982     2070  1998  104  G509    2        1
199983  199983     2070  1998  104  G510    1        3
199984  199984     2070  1998  104  G521    2        1
199985  199985     2070  1998  104  G527    2        1
199986  199986     2070  1998  104  G529    1        1
199987  199987     2070  1998  104  G543    1        1
199988  199988     2070  1998  104  G568    1        1
199989  199989     2070  1998  104  G588    1        1
199990  199990     2070  1998  104  G588    2        2
199991  199991     2070  1998  104  G589    1       36
199992  199992     2070  1998  104  G589    2       34
199993  199993     2070  1998  104  G600    1        1
199994  199994     2070  1998  104  G600    2        1
199995  199995     2070  1998  104  G601    1        1
199996  199996     2070  1998  104  G602    2        1
199997  199997     2070  1998  104  G603    1        1
199998  199998     2070  1998  104  G603    2        3
199999  199999     2070  1998  104  G608    2        1

[200000 rows x 7 columns]

In [ ]:
#